/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

@tree-font-size:12px;
@tab-bar-font-size:12px;
@font-family:'Hermit','DejaVu Sans Mono';

.tree-view {
    font-size:@tree-font-size;
    font-family:@font-family;
    -webkit-font-smoothing:antialiased;
}

.tab-bar .tab .title {
    font-size:@tab-bar-font-size;
    font-family:@font-family;
    -webkit-font-smoothing:antialiased;
}
atom-text-editor {
    -webkit-font-smoothing:antialiased;
}
